/* TAGs */
*,
:after,
:before {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a,
a:active,
a:hover {
  text-decoration: none;
  color: white;
  outline: 0;
}
body {
  position: relative;
  background-color: black;
}
/* IDS (#) */
#redir {
  color: #20a0ff;
  text-decoration: underline;
}

/* Class(containers) (.) */
/* Page(Nav)-START */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}
.navbar-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 120rem;
  margin: 0 auto;
  align-items: center;
  padding: 1rem;
  text-align: right;
  color: lightgrey;
  z-index: 2;
  transition: all 0.5s;
}
.nav-item-link {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  padding: 2rem;
}
.back {
  position: relative;
  background: none;
}
.back::after {
  content: "";
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  z-index: -1;
  background: url(img/bg.jpg) 50%;
  filter: brightness(40%);
  background-size: cover;
}
/* Page(Nav)-END */
/* Profile(Img-Text-Icons)-START */
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 56rem;
}
.hero .hero-container {
  position: relative;
  display: flex;
  max-width: 120rem;
  justify-content: center;
  align-items: center;
}
.hero-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 20rem;
}
.hero-profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  filter: brightness(70%);
  background-image: url(./img/pro.jpg);
  background-size: cover;
}
.hero-profile-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  text-align: center;
}
.pro-headline {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: white;
}
.pro-text {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: lightgray;
}
.pro-icons {
  display: flex;
  align-items: center;
}
/* Profile(Img-Text-Icons)-END */
/* About Me(Skills and Education) - START */
.row {
  display: flex;
  justify-content: center;
  padding: 2rem 2.4rem;
}

@media (max-width: 767px) {
  .row {
    flex-direction: column;
  }
}

@media (max-width: 479px) {
  .row {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}
.title {
  position: relative;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: white;
}
.about .about-container {
  padding-top: 3rem;
  min-height: 100vh;
}

.about-educationcol,
.about-experiencecol,
.about-skillcol {
  padding-bottom: 1rem;
}

.about-timeline {
  padding-top: 1rem;
  padding-right: 3rem;
}

.about-card-group {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.about-card-wrapper {
  flex: 0 0 25%;
  padding: 2rem;
}

@media (max-width: 991px) {
  .about-card-wrapper {
    flex-basis: 30%;
  }
}

@media (max-width: 767px) {
  .about-card-wrapper {
    flex-basis: 50%;
    padding: 0.4rem;
  }
}

.about-card {
  display: flex;
  height: 15rem;
  background-color: #181a1b;
  border-radius: 2rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

@media (max-width: 575px) {
  .about-card {
    padding: 1rem;
  }
}

.about-card-title {
  font-size: 1.25rem;
  color: lightgray;
}

.timeline-card {
  position: relative;
  margin-left: 4rem;
  margin-bottom: 2rem;
  max-width: 30rem;
  color: lightgray;
  border-radius: 2rem;
  background-color: #181a1b;
}

.timeline-card:before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: -3.6rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  z-index: 2;
}

.timeline-card:after {
  content: "";
  position: absolute;
  left: -3.3rem;
  top: 0;
  height: calc(100% + 2rem);
  width: 0.4rem;
  background-color: #181a1b;
}

.timeline-card:last-of-type:after {
  height: 100%;
}

.timeline-card-title {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  padding-bottom: 0;
}

.timeline-card-subtitle {
  padding: 0.25rem 2rem 1rem;
  font-size: 1.125rem;
}

.about-experiencecol .timeline-card-subtitle {
  font-style: italic;
}

.timeline-card-content {
  padding: 0 2rem 1rem;
  font-size: 1.2rem;
}

.timeline-card-time {
  padding: 1rem 2rem;
  text-align: right;
  font-size: 1.125rem;
}

.timeline-card-red:before {
  background-color: #f56c6c;
}

.timeline-card-green:before {
  background-color: #13ce66;
}

.timeline-card-blue:before {
  background-color: #20a0ff;
}
/* About Me(Skills and Education) - END */
/* Projects - START- */
.project {
  position: relative;
  background: none;
}

.project:after {
  content: "";
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  z-index: -1;
  filter: brightness(15%);
  background-size: cover;
}

.project-row {
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .project-row {
    flex-direction: row;
  }
}

@media (max-width: 575px) {
  .project-row {
    flex-direction: column;
  }
}

.project-col {
  display: flex;
  flex: 0 0 33.33332%;
  justify-content: center;
}

@media (max-width: 991px) {
  .project-col {
    flex: 0 0 50%;
  }
}

@media (max-width: 575px) {
  .project-col {
    flex: 0 0 100%;
  }
}

.project-container {
  padding-top: 3rem;
  min-height: 100vh;
}

.project-card {
  position: relative;
  display: inline-block;
  margin: 1rem 1rem 2rem;
  width: 24rem;
  height: 27rem;
  background-color: #181a1b;
  border-radius: 2rem;
  border: 0.3rem solid #181a1b;
}

@media (max-width: 575px) {
  .project-card {
    width: 32rem;
  }
}

@media (max-width: 479px) {
  .project-card {
    width: 100%;
  }
}

.project-card-cover {
  height: 18rem;
  background-size: cover;
  background-position: 50%;
  border-radius: 2rem;
}

.project-card-website {
  background-image: url(./img/preview.png);
}
  /* .project-card-dexcraft {
    background-image: url(./img/dc-pj.png);
  } */
.project-card-readme {
  background-image: url(./img/rm-pj.png);
}
.project-card-web {
  background-image: url(./img/wt-pj.png);
  
}

.project-card-content {
  padding: 1rem;
}

.project-card-title {
  font-size: 2rem;
  color: white;
}

.project-card-btn {
  position: absolute;
  display: inline-block;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  color: white;
  background: #20a0ff;
  border-radius: 2rem;
  transition: all 0.2s linear;
  border: 0.1em solid transparent;
}

.project-card-btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  border: 0.1em solid white;
}

.project-card-blackbutton {
  background: black;
}
/* Projects - END */
.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
